@font-face {
  font-family: 'AlexanderQuillW01-Regular'; 
	src: url("../public/src/AlexanderQuillW01-Regular.ttf") format("truetype")
}
body{
  background-color: #333030;
}

.globalDiv{
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header{
  height: 60px;
  max-height: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.header a{
  font-family: "AlexanderQuillW01-Regular";
  font-size: 20px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.header a:hover{
  color: #ff0000;
}
.header .logo{
  float: left;
  padding: 0px;
  margin: -2px;
}
.header .logo img{
  height: 60px;
  width: 60px;
}
.header .tiny{
  display: none;
}
.header .burgerIcon{
  display: none;
}

.Title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Title .strip{
  height: 3px;
  width: 30%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  background-color: #e4e4e4;
  float: left;
  display: block;
}
.Title p{
  float: left;
  margin: 0px;
  font-size: 24px;
  color: #d90d14;
  display: block;
}

.welcomeDiv{
  height: 400px;
  max-height: 400px;
  width: 100%;
  background-image: url("../public/src/header_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer{
  background-color: #333030;
  text-align: center;
}
footer img{
  height: 80px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer a{
  text-decoration: none;
  color: #ff0000;
}
footer p{
  margin: 0px;
}
footer .legal_right{
  color: #ffffffa4;
}

.LinkTree{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.LinkTree img{
  height: 30px;
  width: 30px;
  display: inline;
  margin-right: 6px;
  padding: 2px;
}
.LinkTree img:hover{
  filter: invert(1);
  background-color: #b6afaf;
}

.DevelopersContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  min-width: 300px;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.Developpers{
  display: inline-block;
  position: relative;
  text-align: center;
  height: 120px;
}
.Developpers img{
  margin: 6px;
  clip-path: circle(50%);
  height: 75px;
  margin-top: 30px;
}
.Developpers span{
  visibility: hidden;
  width: 80px;
  background-color: #333030;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  top: -2px;
  left: 0px;
}
.Developpers:hover span{
  visibility: visible;
}

.alternate p{
  margin: 0px;
  text-align: center;
  font-size: 30px;
}
.alternate .a1{
  background-color: #fff;
}
.alternate .a2{
  background-color: #eeeeee;
}

/**
this section is for modify the display for mobile and small screen
**/
.header_mobile{
  height: 60px;
  max-height: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.header_mobile .myLinks{
  display: none;
}
.header_mobile a{
  font-family: "AlexanderQuillW01-Regular";
  font-size: 20px;
  float: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 5px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  color: black;
}
.header_mobile a:hover{
  color: #ff0000;
}
.header_mobile .logo{
  float: left;
  padding: 0px;
  margin: -2px;
}
.header_mobile .logo img{
  height: 60px;
  width: 60px;
}
.header_mobile .tiny a{
  width: 85%;
  margin: auto;
  margin-left: 5%;
  margin-top: 18px;
  margin-bottom: -18px;
  position: relative;
  background-color: #fff; 
}
.header_mobile .extanded{
  display: none;
}
.header_mobile .burgerIcon{
  background-image: url("../public/src/burger.png");
  background-color: #ffffff00;
  border: none;
  width: 50px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
